@media only screen and (min-width: 300px) and (max-width:700px) {
    .baner_container {
        background-image: url("../assets/wp7367659.webp");
        background-position: center;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 90%;
    }

    .baner_text>p {
     
        font-weight: 2000;
        letter-spacing: 1px;
    }

    .baner_text {
        padding-inline: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu_container>div {
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin-top: 10px;
    }
    .bestseller_container>div {
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin-top: 10px;
    }
    .bestseller_component {
        border: 1px solid black;
        padding: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .contact_right_col {
        display: none;

    }

    .contact_container {
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
        padding-top: 20px;
        justify-content: center;

    }

    .cake_component_container {
        margin-bottom: 10px;
    }

    .about_container {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 30px;
    }
    .collage_image_container{
        margin-top: 10px;
    }
    .image_container {
        display: flex;
        align-items: center;
        margin: 5px;
        width: 100vw;
        padding-left: 5px;
    }

    .contact_right_col{
        visibility: hidden;
        height: 0;
    }

}

@media only screen and (min-width: 700px) {
    .about_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 30px;
    }
    .bestseller_container>div {
        margin-top: 10px;
    }
    .baner_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-image: url("../assets/wp7367659.webp");
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    .baner_text {
        margin: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 20px;
        justify-content: center;

    }
    .image_container {
        display: flex;
        align-items: center;
        margin: 5px;
        width: 630px;
    }

}
.story_text_paragraph{
    margin-top: 8px;
    font-family: sans-serif;
    font-weight: 400;
}
.home_container {
    background-color: rgb(243, 241, 241);
}

.baner_text>p {
    margin-bottom: 20px;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 500;
}


.discover_button >a {
    display: inline-flex;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    padding: 2px;
    color: whitesmoke;
    width: fit-content;
    text-decoration: none;
    
}
.bestseller_discover_button >a {
    display: inline-flex;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    color: black;
    width: fit-content;
    text-decoration: none;
    
}
.section_header {

    font-family: "sans-serif";
    font-size: 50px;
    font-weight: 500;

}

.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.bestseller_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-inline: 5%;
    text-align: center;
}

.cake_component_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: white;
}

.cake_image_container {
    height: 200px;
    width: 200px;
}

.image_container>div {
    margin-right: 10px;
}

.image {
    object-position:top;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.flex_coloumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cake_image {
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bestseller_component {
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    border-radius: 16px;
}
.contact_container{
    background-color: rgb(234, 230, 230);
}
.contact_container p {
    color: black;
    font-size: large;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.contact_right_col >a{
    color: black;
    font-size: large;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;cursor: pointer;
    margin-top: 5px;
}
.contact_middle_col>div{
    margin-top: 10px;
}
.contact_middle_col a {
    text-decoration: none;
    color: Black;
    margin-right: 10px;
}