@media only screen  and (min-width: 300px) and (max-width:700px) {
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(245, 240, 240);
            z-index: 1;
            padding: 5px 0;
        }
        .quicklink_container{
            margin-top: 5px;
        }
}
@media only screen  and (min-width: 700px)  {
    .container {
        background-color: rgb(183, 183, 183);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 50px;
        padding: 5px;
        box-sizing: content-box;
        z-index: 1;
        position: fixed;
        width: 100%;  
    }

}
.logo_image {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.logo_container {
    height: 50px;
    width: 150px;
}
.quicklink_container {
    display: flex;
   align-items: center; 
   justify-self:flex-end;
   padding-inline: 10px;
}

.quicklink_container>p {
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 400;
   margin-left: 30px;
   border-bottom: 2px solid black;
   cursor: pointer;
}
